.editor:not([type='checkbox']) { border: 1px solid #DDD; padding: 2px 4px; }
.property-instance label { display: inline-block; word-break: break-word; line-height: 1em; padding-top: 0.15em; padding-right: 1em; flex-shrink: 0; position: relative; }
.property-instance:not(:first-child) > label { visibility: hidden; max-height: 0; }
.mode-edit .property-instance label { width: var(--label-width); }
