:host {
    --mdui-color-primary-light: var(--mdui-color-primary-light);
    --mdui-color-primary-dark: var(--mdui-color-primary-dark);
    --mdui-color-background-light: var(--mdui-color-background-light);
}
/* this prevents hiding the date picker icon and number controls */
mdui-text-field::part(input) {
    clip-path: none;
    appearance: inherit;
}
form.mode-edit { --label-width: 0em; }
.property-instance { margin-bottom:14px; }
.mode-edit .property-instance *[required]::part(icon) { align-self: flex-start; padding-top: 0.7em; }
.mode-edit .property-instance *[required]::part(icon)::before { color: red; content: '\2736'; font-size: 0.6em; }