<p class="mb-1">This example displays the edit-mode RDF data by adding <span class="code">data-view</span> to the &lt;shacl-form&gt; element.</p>
<div class="wrapper">
  <fieldset><legend>SHACL shapes input to the viewer</legend><pre id="shacl-shape-input"></pre></fieldset>
  <fieldset><legend>Data graph input to the viewer</legend><pre id="shacl-data-input"></pre></fieldset>
  <fieldset><legend>Generated viewer</legend><shacl-form id="shacl-form" data-collapse="open" data-view data-values-subject="http://example.org/4f2a8de3-9fc8-40a9-9237-d5964520ec54"></shacl-form></fieldset>
</div>
