:root {
    --brand-color: #008877;
}

body {
    font-family: sans-serif;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr;
    margin: 0;
    color: #333; 
    height: 100vh;
    font-size: 16px;
}

a:visited { color: inherit; }

.header {
    padding: 10px 6px;
}

.menu {
    padding: 20px 6px;
}

.header h1 {
    margin: 0;
    font-size: 20px;
}

.header {
    grid-column: 1 / span 2;
    color: #FFF;
    background-color: var(--brand-color);
    padding-left: 10px;
}

.menu {
    /* grid-row: 2 / span 2; */
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    background-color: #ededed;
    gap: 10px;
    min-width: 130px;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: #555;
    border-radius: 6px;
    border: 0;
    outline: none;
    transition: all 0.2s ease-out;
}

.menu a:target, .menu a:hover {
    color: #FFF;
    background-color: var(--brand-color);
}

.menu a:hover:not(:target) {
    filter: brightness(1.3);
}

.main {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content {
    padding: 20px 10px;
    transition: 0.3s opacity, 0.3s visibility;
    flex-grow: 1;
}

.content.loading {
    opacity: 0;
    visibility: hidden;
}

.content h2 {
    margin-top: 1em; color: #444;
}

.content p { margin-top: 0; line-height: 1.3em; font-size: 20px; color: #444; }

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.w-100 { width: 100%; }
.h-100 { height: 100%; }
.mt-1 { margin-top: 1em !important; }
.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.code { font-family: monospace; background-color: #ededed; padding: 3px; border-radius: 4px; color: #333; font-size: 14px; }
#shacl-output.valid legend::after { content: "[valid]"; padding-left: 5px; }
#shacl-output.invalid legend::after { content: "[not valid]"; padding-left: 5px; }
#shacl-output.valid pre, #shacl-output.valid legend::after { color: #272; }
#shacl-output.invalid pre, #shacl-output.invalid legend::after { color: #922; }
#shacl-shape-input, #shacl-output { min-height:250px; }
textarea#shacl-shape-input { resize: vertical; }
@media screen and (max-width: 1024px) {
    .wrapper { grid-template-columns: 1fr; }
}

.wrapper > * {
    overflow: auto;  min-width: 0px;
}

fieldset { border-color: var(--brand-color); }
fieldset pre { font-size: 0.7em; }
.wrapper fieldset pre { max-height: 400px; }

.footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #ededed;
    padding: 30px;
}